/* var.css */
:root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
}

.dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
}

/* 以前的vp-c-brand已弃用 */

:root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

    /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    --vp-home-hero-image-filter: blur(40px);
}

/* 也可自行单独修改brand按钮 */
/* :root {
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;
} */

/* .vitepress/theme/style/var.css */
h1 {
    background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* var.css */
.vp-doc a {
    text-decoration: none;
}

/* .vitepress/theme/style/var.css */

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 9999 !important;
    /* 给的值是21，但是实测盖不住，直接999 */
}

/* 自定义鼠标样式 */
#aside-content .card-widget .card-info-social-icons,
#bber>section>ul>li>div .bber-info-from,
#bber>section>ul>li>div .bber-info-time,
html {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/alternate.png) 16 16, auto !important
}

#article-container .highlight-tools .copy-button,
#aside-content .aside-list>.aside-list-item,
#aside-content .card-info #author-info__sayhi,
#aside-content .card-widget#card-wechat,
#recent-posts .recent-post-item,
#recent-posts>.recent-post-item>.recent-post-info,
#rightMenu .rightMenu-group .rightMenu-item,
#twikoo .tk-comments .OwO .OwO-body,
.OwO .OwO-body .OwO-bar .OwO-packages li,
.OwO .OwO-body .OwO-items .OwO-item,
.article-categories-original,
.bber-reply,
.card-author,
.card-title,
.category-bar-next,
.code-expand-btn,
.comment-barrage-item .barrageContent,
.el-input__inner,
.modal-article-date,
.nav-button,
.pagination span,
.reward-button,
.share-link .share-button,
.title,
.tk-avatar-img,
.tk-comments-title span,
.tk-expand,
.tk-submit-action-icon,
.topGroup .banner-button,
.topGroup .recent-post-item,
a,
a span,
button,
i.bber-logo,
img,
input,
summary {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/link.png) 16 16, pointer !important
}

#toPageText,
.local-search-box--input,
h2,
label,
p,
span,
textarea,
time {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/text.png) 16 16, text !important
}

/*字体-start*/
@font-face {
    font-family: "future";
    /* 自定义字体引用名称 */
    src: url('https://cdn.jsdmirror.com/gh/acanyo/mmm.sd@master/assets/font/lxwk.woff2');
    /* 字体文件链接或路径 */
}

* {
    font-family: "future" !important;
    /* 你即将使用的字体，输入对应字体的 font-family 值即可生效 */
    /* "!important" 为强制替换全局字体 */
}
/*字体-end*/